<html>
    <head>
        <title>Dhruvil Joshi</title>
    </head>
    <link rel="stylesheet" href="static/index.css">

    <body>
        <div style="margin-left:200px; margin-right:100px; display:flex; justify-content:space-between; ">
            <div>
                <span class="topBar"> <a href="{{ url_for('home') }}"> Home</a></span>
                <span class="topBar"><a href="{{ url_for('about') }}"> About me</a> </span>
                <span class="topBar"><a href="{{ url_for('projects') }}">Projects</a></span>
                <span class="topBar"><a href="{{ url_for('journey') }}">Journey</a></span>
                <span class="topBar"><a href="{{url_for ('contact')}}">Contact me</a></span>
            </div>

            <div>
                
            </div>

    </body>
</html>